{% extends "base.html" %}
{% block content %}
    <div class="container-fluid p-2 bg-primary text-white text-center">
        <h1>Change dog breed</h1>
    </div>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}